
/* Base styles for body and global elements */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  @apply bg-background;
  color: #262626; /* dark-base */
  font-family: 'FormaDJRArabicBanner', sans-serif;
  letter-spacing: 0.025em; /* Improved letter spacing for better readability */
}
